.heading{
    border-style: solid;
    /* border-right-top-bottom: green; */
border-right: none;
border-bottom: none;
border-top: none;
border-color: green;
padding:2rem;
margin:4rem; 
}
.navbar{
    z-index: 2;
    background-color: #ecf0f1;
    /* margin: -2%; */
}
.base{
    font-size: 220%;
    
}
/* .media img{
    width: 40%;
} */
.footer{
    background-color:#ecf0f1;
    margin-top: 5%;
}
/* .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.card-image-overlay{
    border-color: white;
    background-color: antiquewhite;
    background:solid;
}